@font-face {
  font-family: Quicksand;
  src: url(../font/Quicksand-Regular.otf);
}

body {
  font-family: Quicksand, sans-serif;
}

.addButton {
  width: 100%;
  text-align: center;

  button {
    width: 100%;
    margin: 1em 0;
  }
}

span.details {
  font-size: 80%;
}

i.center-icons {
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  z-index: 5;
  display: inline-block;
}

div.deleteButton {
  margin-top: 25px;
  padding-left: 20px;
}

p.spacer-medium {
  height: 20px;
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0px !important;
}

select.largepicker {
  height: 20em;
}

span.label {
  margin-left: 15px;
  display: inline-block;
  position: relative;
  top: -1px;
}

div.headercontainer {
  display: inline-block;

  button {
    margin-top: 7px;
  }
}

form.quicksearch {
  margin-top: 6px;
}

@media (max-width: 575px) {
  form.quicksearch input.stXquickSearch {
    width: 150px;
  }
}

#quicksearchresult {
  position: absolute;
  background-color: $navbar-default-bg;
  padding: 1em;
  border-bottom: 2px solid $input-border;
  border-left: 2px solid $input-border;
  border-right: 2px solid $input-border;
  font-size: 80%;
  width: 200%;
  display: none;
}

@media (max-width: 575px) {
  #quicksearchresult {
    width: 100vw;
    left: 0vw;
  }
}
.recipe_list_quicksearch {
  font-size: 90%;

  img.smallimage {
    height: 100px;
  }

  span.metadata, span.recipe-recipeTags {
    display: inline-block;
    margin-right: 13px;
  }

  p {
    font-size: 15px;
    margin-top: 11px;
    margin-bottom: 5px;
  }
  h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}


/**
LOADER
 */
.loader-big {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader-medium {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.loader-small {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/**
Autocomplete
 */
.stXautoComplete > .form-group {
  position: relative;
}

.ui-autocomplete > li {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.ui-autocomplete > li > div {
  cursor: pointer;
  background-color: #fff;
}

/**
ARRAYcollection
 */

@media (max-width: 575px) {
  .symfonyArrayCollection>.row {
    border: 1px solid lightgray;
    padding: 1em 0.5em;
    margin: 1em 5px;
    border-radius: 0.5em;
  }
}

/**
Images
 */

.recipe_list_with_details {
  min-height: 50px;
  border-bottom: lighten($text-color, 50%) 1px solid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.addButton button.btn:active, .addButton button.btn:hover, .addButton button.btn:focus,
.deleteButton button.btn:active, .deleteButton button.btn:hover, .deleteButton button.btn:focus{
  background-color: grey;
  color: white;
}

label.required:after {
  content: "  *";
}

div.profileimage_container img {
  width: 250px;
}

img.profileimage {
  width: 250px;
}

.quicklinks-sidebar {
  font-size: 16px;
}

div.content-inline-block {
  display: inline-block;
}

div.content-inline-block>div {
  display: inline-block;
}

.quicksearchLoader {
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 7%;
  visibility: hidden;
}


footer #footer-resources i {
  color: #7b8a8b;
  font-size: 15.5px;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 800px) {
  .pull-right-lg {
    float: right;
  }
}
@media (min-width: 800px) {
  .pull-left-lg {
    float: left;
  }
}

.body-container {
  margin-top: 50px;
}
