{% if not recipe.recipeTags.empty %}
    <span class="recipe-recipeTags">
        {% for tag in recipe.recipeTags %}
            <span class="label label-default">
                <i class="fa fa-tag"></i> {{ tag.name }}
            </span>
        {% endfor %}
    </span>
{% endif %}

