#recipes_show {

  .recipe {

    .steps {
      p {
        margin-bottom: 0;
      }

      div {
        margin-bottom: 1.5em;
      }
    }

    .images {
      img {
        width: 30%;
      }

    }
    .carousel {
      img {
        max-width: 100%;
      }
    }

  }

  .recipe-comment {
    margin-top: 20px;
  }

  #recipe-add-comment {

    textarea {
      height: 7em;
    }

  }

}
